@page
@model RazorNorthwinds.Pages.SalesPage.ProductSalesByYearModel
@{
}

<h1>Product Sales By Year - @Model.Year</h1>

<form method="get" class="form-inline">
    <div>
        <input asp-for="Year" type="number" placeholder="1997" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Search">
    </div>
</form>

<div class="col-md-4 mx-auto">
    <div id="chart1"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductSalesForYear.First().CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSalesForYear.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSalesForYear.First().ProductSales)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductSalesForYear)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSales)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('ProductSalesByYear?handler=JsonData&year=@Model.Year', function (jsonData) {
                var dataArray = [['ProductName', 'ProductSales']];
                jsonData.forEach(function (item) {
                    dataArray.push([item.productName, item.productSales]);
                });

                data = google.visualization.arrayToDataTable(dataArray, false);
                var option = {
                    width: 800,
                    height: 800
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
