@page
@model RazorNorthwinds.Pages.OrderPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Freight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Freight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipRegion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Order.Employee)*@
            Northwinds Sales Rep.
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Order.Employee.EmployeeId)*@
            @Model.Order.Employee?.FirstName @Model.Order.Employee?.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShipViaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipViaNavigation.CompanyName)
        </dd>
    </dl>
    <h4>Order Contents</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Order.OrderDetails.First().ProductId)</th>
                <th>@Html.DisplayNameFor(model => model.Order.OrderDetails.First().Product.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.Order.OrderDetails.First().UnitPrice)</th>
                <th>@Html.DisplayNameFor(model => model.Order.OrderDetails.First().Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.Order.OrderDetails.First().Discount)</th>
                <th>@Html.DisplayNameFor(model => model.OrderSubtotal.Subtotal)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order.OrderDetails)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.Discount</td>
                    <td></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>$@Model.OrderSubtotal?.Subtotal</b></td>
            </tr>
        </tbody>
    </table>


</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
